$dark-blue: #262C3A;
$title-blue: #517398;
$pink: #FF606E;
$background-blue: #ECE9EE;

$screen-lg-min: 1200px;
$screen-md-max: 1199px;
$screen-md-min: 992px;
$screen-sm-max: 991px;
$screen-sm-min: 768px;
$screen-xs-max: 767px;
$iphone4-5: 321px;


.intro {
	background: $background-blue;
  height: 100%;
  padding: 12em 4em;
  text-align: center;
  border-top: 7px solid $pink;
}

@media screen and (max-width: $screen-xs-max) {
  .intro {
    padding: 7em 1em;
  }
}


.title {
  font-family: 'Fjalla One', sans-serif;
  font-size: 80px;
  color: $title-blue;
}

@media screen and (max-width: $screen-xs-max) {
  .title {
    font-size: 3em;
  }  
}

.subtitle {
  font-family: 'Average', sans-serif;
  font-size: 18px;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 40px 0 40px;
  border-color: $background-blue transparent transparent transparent;
  margin: 0 auto;
  margin-top: -2px;
}