$dark-blue: #262C3A;
$title-blue: #517398;
$pink: #FF606E;
$background-blue: #ECE9EE;

$screen-lg-min: 1200px;
$screen-md-max: 1199px;
$screen-md-min: 992px;
$screen-sm-max: 991px;
$screen-sm-min: 768px;
$screen-xs-max: 767px;
$iphone4-5: 321px;


.intro {
	background: $background-blue;
  text-align: center;
  border-top: 7px solid $pink;
  min-height: 500px;
  position: relative;
}

@media only screen and (max-width: $screen-xs-max) {
  .intro {
    min-height: 450px;
  }
}

.intro-text {
  position: absolute;
  top: 30%;
  right: 50%;
  transform: translateX(50%);
}

@media only screen and (max-width: 526px) {
  .intro-text {
  position: absolute;
  top: 18%;
  }
}


.title h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 95px;
  color: $title-blue;
}

@media screen and (max-width: $screen-xs-max) {
  .title h1 {
    font-size: 80px;
  }  
}

.subtitle h2 {
  font-family: 'Average', sans-serif;
  font-size: 22px;
  margin-top: 0;
}

@media screen and (max-width: $screen-xs-max) {
  .subtitle h2{
    font-size: 18px;
  }  
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 40px 0 40px;
  border-color: $background-blue transparent transparent transparent;
  margin: 0 auto;
  margin-top: -2px;
}